<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>CSO FAQ</title>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/homestyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/newqueststyle.css">

    <!-- Import Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
</head>

<body class="page-body">
<header>
  <div class="header-left">
    <h1 id="welcome">REGULATOR<br>FAQ DATABASE</h1>
  </div>
  <button class="menu-toggle" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="header-right">
    <ul>
      <li><a href="https://csocompliance.org.ng/">Home</a></li>
      <li><a href="https://csocompliance.org.ng/crp-public-directory">Directory</a></li>
      <li><a href="https://csocompliance.org.ng/faqs">FAQS</a></li>
      <li><a href="https://csocompliance.org.ng/crp-complaince-compedium">Compedium</a></li>
    </ul>
  </nav>
</header>

<div class="banner">
    <h1>Select One</h1>
    <div class="dropdown">
        <select name="regulator" id="menu" onchange="showSelectedText()" title="Select a regulator">
            <option value="" selected disabled hidden>Which regulator do you want to know about?</option>
            <option th:each="regulator : ${regulators}" th:value="${regulator}" th:text="${regulator}"></option>
        </select>
    </div>
    <div class="selected-text">
        <p id="selectedItem"></p>
    </div>
</div>
<main >
    <div id="app">
        
        <div class="form-container">
          <h1><i class="material-icons icon-blue icon-large">message</i>Can't find the answer, send us a message</h1>
            <form id="myForm" action="" method="post">
                <div class="input-container">
                    <label for="email"><i class="material-icons icon-blue icon-xlarge">email</i></label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-container">
                    <label for="question"><i class="material-icons icon-blue icon-xlarge">help</i></label>
                    <textarea id="question" name="question" rows="4" cols="50" placeholder="Enter your question (200 words max)" required maxlength="300"></textarea>
                </div>
                <div class="button-container">
                    <button type="submit" id="submit-btn"><i class="material-icons icon-blue icon-large">send</i>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Import custom JavaScript -->
    <script src="../static/js/newquestscript.js" type="application/javascript"></script>
</main>

<script src="../static/js/homescript.js" type="application/javascript"></script>
</body>

</html>